<div ng-controller="searchController">
  <div class="row">
    <form class="col-lg-3 col-lg-offset-2" ng-submit="findMovie()">
      <input type="text" name="userSearch" ng-model="userSearch" />
      <input type="submit" class="btn btn-primary" />
    </form>
  </div>
    <div class="row">
      <ul class="col-lg-4 col-lg-offset-1">
        <li class="panel panel-info" ng-repeat="title in titles">
          <div class="panel-heading">
            <p class="panel-title"><a href="/#/{{title.imdbID}}/show">{{ title.Title }}</a></p>
          </div>
          <p>Year: {{ title.Year}} </p>
          <p>Type: {{ title.Type}} </p>
          <p class="hide">{{ title.imdbID }}</p>
      </ul>
    </div>
</div>
