<a href="/#/" class="btn btn-primary">Search</a>

<div ng-controller="showController">
      <p> {{ movie.Title }}</p>
      <img ng-src="{{ movie.Poster }}" alt="poster picture">
      <p> {{ movie.Year }}</p>
      <p> {{ movie.Rated }}</p>
      <p> {{ movie.Runtime }}</p>
      <p> {{ movie.Genre }}</p>
      <p> {{ movie.Actors}}</p>
      <p>{{ movie.Writer}}</p>
      <p> {{ movie.Plot }}</p>
      <p> {{ movie.Awards}}</p>
      <p> {{ movie.imdbRating }}, of {{movie.imdbVotes }} votes.</p>
</div>
